body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

#banner {
  background: #3dcdfd;
  position: absolute;
  overflow: hidden;
  width: $banner-width;
  height: $banner-height;
  left: 50%;
  top: 50%;
  margin-left: -$banner-width / 2;
  margin-top: -$banner-height / 2;
  opacity:0;

  #button-exit {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  #border {
    border: 1px solid #ccc;
    display: block;
    width: $banner-width - 2;
    height: $banner-height - 2;
    left: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
    z-index: 999;
  }

  .container1 {
    width: 39px;
    height:51px;
    overflow: hidden;
    position: absolute;
    left: 25px;
    top: 20px;
  }

  .container2 {
    width: 133px;
    height:90px;
    overflow: hidden;
    position: absolute;
    left: 105px;
    top: 0;
  }

  #flag, #shake {
    display: none;
  }

  #txt1a, #txt2a, #txt3a {
    clip: rect(0px, 728px, 47px, 0px);
  }

  #txt1b, #txt2b, #txt3b {
    clip: rect(47px, 728px, 90px, 0px);
  }

  #txt4a {
    clip: rect(0px, 306px, 90px, 0px);
  }

  #txt4b {
    clip: rect(0px, 728px, 90px, 306px);
  }





  #curtain {
    width: $banner-width;
    height: $banner-height;
    background: #001751;
  }

  .default {
    left: 0;
    top: 0;
    position: absolute;
  }
}
